@import url(app.css);


.custom-container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .custom-container {
        width: 90%;
    }
}

.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.bg-primary {
    background-color: var(--primary-bg) !important;
}

.bg-secondary {
    background-color: var(--secondary-bg) !important;
}

.btn-light {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--secondary-bg);
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--text-primary);
}
/* 
.form-control,
.form-select {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color: var(--text-primary);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
} */

/* .form-control:focus,
.form-select:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: var(--accent-color);
    color: var(--text-primary);
    box-shadow: 0 0 0 0.25rem rgba(242, 171, 109, 0.25);
} */

.table {
    color: var(--text-primary);
}

.table-dark {
    --bs-table-bg: rgba(2, 88, 100, 0.8);
    --bs-table-striped-bg: rgba(2, 88, 100, 0.9);
    --bs-table-hover-bg: rgba(2, 88, 100, 1);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--accent-color);
}

.form-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-primary);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-select:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: var(--accent-color);
    box-shadow: 0 0 0 0.25rem rgba(242, 171, 109, 0.25);
}

.form-select option {
    background-color: var(--secondary-bg);
    color: var(--text-primary);
}

.form-select::-ms-expand {
    display: none;
}